<div class="shares-page">
  <form [formGroup]="formAcciones" (ngSubmit)="enviarConsulta()">
    <div class="col-3">
      <select formControlName="cmbEmisor" id="cmbEmisor" class="form-select mb-3" aria-label="Emisor">
        <option value=34>ALICOSTA BK HOLDING S A</option>
        <option value=64>ALIMENTOS ECUATORANOS ALIMEC S.A</option>
        <option value=56>BANCO AMAZONAS</option>
        <option value=28>BANCO BOLIVARIANO C.A.</option>
        <option value=50>BANCO DE LA PRODUCCION S.A . PRODUBANCO</option>
        <option value=71>BANCO DEL AUSTRO</option>
        <option value=21>BANCO GUAYAQUIL S.A.</option>
        <option value=24>BANCO PICHINCHA C.A.</option>
        <option value=30>BANCO SOLIDARIO S.A.</option>
        <option value=67>BEVERAGE BRAND PATENTS SA</option>
        <option value=62>BOLSA DE VALORES DE GUAYAQUIL</option>
        <option value=59>BOLSA DE VALORES DE QUITO</option>
        <option value=18>BRIKAPITAL SA</option>
        <option value=61>CEPSA</option>
        <option value=40>CERRO ALTO HIGHFOREST S A</option>
        <option value=41>CERRO VERDE FORESTAL S A BIGFOREST</option>
        <option value=15>CERVECERIA NACIONAL CN S A</option>
        <option value=63>CERVECERIA NACIONAL CN S A PREFERIDAS</option>
        <option value=69>CIALCO CONSTRUCTORA IMPORTADORA ALVAREZ</option>
        <option value=31>CONCLINA C A  CIA CONJU CLINICO NACIONAL</option>
        <option value=29>CONTINENTAL TIRE ANDINA S A</option>
        <option value=60>CORP.DESARROLLO.M.S.HIPOTECAS  CTH</option>
        <option value=16>CORPORACION FAVORITA C.A.</option>
        <option value=35>CRIDESA</option>
        <option value=46>EL TECAL</option>
        <option value=22>HOLCIM ECUADOR S.A.</option>
        <option value=27>HOLDING TONICORP S.A.</option>
        <option value=47>HOMEFOREST EL REFUGIO FORESTAL S A</option>
        <option value=19>HOTEL COLON</option>
        <option value=57>INDUSTRIAS ALES</option>
        <option value=54>INGENIO AZUCARERO DEL NORTE</option>
        <option value=26>INVERSANCARLOS</option>
        <option value=32>LA CAMPINA FORESTAL STRONGFOREST S A</option>
        <option value=38>LA COLINA FORESTAL (HILLFOREST) S.A.</option>
        <option value=43>LA CUMBRE FORESTAL PEAKFOREST SA</option>
        <option value=20>LA ENSENADA FORESTAL COVEFORESTS SA</option>
        <option value=44>LA ESTANCIA FORESTAL FORESTEAD S A</option>
        <option value=42>LA RESERVA FORESTAL S.A.(REFOREST)</option>
        <option value=52>LA SABANA FORESTAL (PLAINFOREST) S.A.</option>
        <option value=53>LA VANGUARDIA FORESTAL</option>
        <option value=37>MERIZA</option>
        <option value=66>MULTI-BG S.A. CORPORACION</option>
        <option value=33>MUTUALISTA PICHINCHA</option>
        <option value=58>NATLUK SA</option>
        <option value=45>PATHFOREST S.A. EL SENDERO FORESTAL</option>
        <option value=23>QUITOLINDO QUITO LINDO SA</option>
        <option value=36>RETRATOREC S.A.</option>
        <option value=48>RIO CONGO FORESTAL</option>
        <option value=17>RIO GRANDE FORESTAL RIVERFOREST SA</option>
        <option value=25>SAN CARLOS SOC. AGR. IND.</option>
        <option value=68>SIEMPREVERDE SA</option>
        <option value=49>SUPERDEPORTE S.A.</option>
        <option value=55>SURPAPELCORP S A</option>
        <option value=70>TECAFORTUNA SA</option>
        <option value=65>TECATEAK SA</option>
        <option value=51>UNACEM ECUADOR SA</option>
        <option value=39>VALLE GRANDE FORESTAL</option>
      </select>

      <button [disabled]="formAcciones.invalid" class="login social-btn">Buscar</button>
    </div>
  </form>

<div>
  <canvasjs-chart [options]="chartOptions1" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2017" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2018" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2019" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2020" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2021" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2022" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2023" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions2024" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<div>
  <canvasjs-chart [options]="chartOptions2025" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<br><br>


<div>
  <h1>Dividendos</h1>
  <!-- Utiliza *ngIf para condicionar la visualización de la tabla -->
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover table-sm table-bordered table-success">
        <thead>
          <tr>
            <!--th>emisor_id</th-->
            <!--th>emisor</th-->
            <th class="small-text">Resolución</th>
            <th class="small-text">Último<br>derecho</th>
            <th class="small-text">Fecha_Pago</th>
            <th class="small-text">Valor<br>nominal</th>
            <th class="small-text">Acciones<br>antes dividendos</th>
            <th class="small-text">Último<br>precio</th>
            <th class="small-text">Fecha últ.<br>precio</th>
            <th class="small-text">Dividendo<br>efectivo</th>
            <th class="small-text" style="color: red;">Dividendo ef. <br>por acción</th>
            <th class="small-text">Precio Ajus.<br>div efectivo</th>
            <th class="small-text">Aum. Dism<br>Capital</th>
            <th class="small-text">Aum.<br>Suscr.</th>
            <th class="small-text">Capital<br>Anterior</th>
            <th class="small-text">Acciones<br>antiguas</th>
            <th class="small-text">Capital<br>luego evento</th>
            <th class="small-text">Acciones<br>totales</th>
            <th class="small-text" style="color: red;">Aum. capital / <br>cap. anterior</th>
            <th class="small-text">Factor<br>correccion</th>
            <th class="small-text">Precio<br>ajustado</th>
            <th class="small-text">Circular</th>
            <!--th class="small-text">Utilidad neta año</th-->
            <!--th class="small-text">Revisión</th-->
            <th class="small-text">Actualiz.</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let item of dataDividendos">
            <!--td>{{ item.emisor_id }}</td-->
            <!--td>{{ item.emisor }}</td-->
            <td class="small-text" style="text-align: right;">{{ item.fecha_resolucion | date: 'yyyy-MM-dd'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.fecha_ultimo_derecho }}</td>
            <td class="small-text" style="text-align: right;">{{ item.fecha_pago | date: 'yyyy-MM-dd'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.valor_nominal | number:'1.2-2' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.acciones_antes_dividendos | number:'1.0-0'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.ultimo_precio | number:'1.2-2' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.fecha_ultimo_precio }}</td>
            <td class="small-text" style="text-align: right;">{{ item.dividendo_efectivo | number:'1.0-0' }}</td>
            <td class="small-text" style="text-align: right; color: red;">{{ item.dividendo_ef_por_accion | number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.precio_ajus_div_efectivo | number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.aum_dism_capital }}</td>
            <td class="small-text" style="text-align: right;">{{ item.aumento_suscripcion | number:'1.2-2' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.capital_anterior | number:'1.0-0'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.acciones_antiguas | number:'1.0-0'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.capital_luego_evento | number:'1.0-0'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.acciones_totales | number:'1.0-0'}}</td>
            <td class="small-text" style="text-align: right; color: red;">{{ item.aum_capital_capital_anterior | number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.factor_correccion | number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.precio_ajustado | number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.circular }}</td>
            <!--td class="small-text" style="text-align: right;">{{ item.utilidad_neta_anio | number:'1.2-2' }}</td-->
            <!--td class="small-text" style="text-align: right;">{{ item.revision | number:'1.2-2' }}</td-->
            <td class="small-text" style="text-align: right;">{{ item.updated_at | date: 'yyyy-MM-dd'}}</td>



            <!-- td>{{ item.total | number:'1.2-2' }}</td -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




<br><br>


  <h1>Simulación de Rendimiento</h1>

    <div class="shares-page">
      <form [formGroup]="formSimulacion" (ngSubmit)="enviarSimulacion()">
        <div class="col-8">
            <label for="txtPrecio">Precio:</label>
            &nbsp;
            <input formControlName="txtPrecio" id="txtPrecio" type="text" placeholder="Precio" class="form-input">
            &nbsp;&nbsp;&nbsp;
            <label for="txtCapital">Capital:</label>
            &nbsp;
            <input formControlName="txtCapital" id="txtCapital" type="text" placeholder="Capital" class="form-input">
            &nbsp;&nbsp;&nbsp;
          <button [disabled]="formSimulacion.invalid" class="login social-btn" style="width: 25%;">Simular</button>
        </div>
      </form>
    </div>

  <!-- Utiliza *ngIf para condicionar la visualización de la tabla -->
  <div class="row">
    <div class="col-6">
      <table class="table table-striped table-hover table-sm table-bordered table-success">
        <thead>
          <tr>
            <th class="small-text">Resolución</th>
            <th class="small-text">Precio</th>
            <th class="small-text">Nominal</th>
            <th class="small-text">Cantidad Acciones</th>
            <th class="small-text">Dividendo Efectivo</th>
            <th class="small-text">Dividendo Acciones</th>
            <th class="small-text">Efectivo Recibido</th>
            <th class="small-text">Acciones Recibidas</th>
            <th class="small-text">Acciones en Efectivo</th>
            <th class="small-text">Efectivo total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSimulacion">
            <td class="small-text" style="text-align: right;">{{ item.resolucion| date: 'yyyy-MM-dd'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.precio | number:'1.2-2' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.valorNominal| number:'1.2-2'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.cantidadAcciones| number:'1.2-2' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.dividendoEfectivo| number:'1.5-5'}}</td>
            <td class="small-text" style="text-align: right;">{{ item.dividendoAcciones| number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.efectivoRecibido | number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.accionesRecibidas| number:'1.2-2' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.accionesEnEfectivo| number:'1.5-5' }}</td>
            <td class="small-text" style="text-align: right;">{{ item.efectivoTotal| number:'1.5-5' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




<br><br><br><br><br><br>


