<div class="balance-page">
  <div class="balance-wrapper">
      <form (ngSubmit)="enviarConsulta()" [formGroup] = formBalance class="row g-3">
          <div class="col-md-3">
              <label for="fechaInicio" class="form-label">Fecha Inicio: </label>
              <input formControlName="fechaInicio" type="date" placeholder="Fecha Inicio" class="form-control">
          </div>
          <div class="col-md-3">
              <label for="fechaFin" class="form-label">Fecha Fin: </label>
              <input formControlName="fechaFin" type="date" placeholder="Fecha Fin" class="form-control">
          </div>

          <div class="col-md-2">
            <br>
            <button [disabled]="formBalance.invalid" class="login social-btn">Buscar</button>
          </div>
      </form>
  </div>

  <app-balance-detail [dataBalancelist]="BalanceList$ |async" [dataTradingResultlist]="TradingResultList$ |async" [title]="'Capital consolidado'"></app-balance-detail>

  <!--app-balance-detail [title]="'Capital consolidado'"></app-balance-detail-->

</div>
