<div class="balance-page">
  <div class="balance-wrapper">
      <form (ngSubmit)="enviarConsulta()" [formGroup] = formBalance class="balance-form">
          <div class="form-group">

              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Fecha inicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-hint>YYYY-mm-dd</mat-hint>
              </mat-form-field>


          </div>
          <div class="form-group">


            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Fecha fin" formControlName="fechaFin">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-hint>YYYY-mm-dd</mat-hint>
            </mat-form-field>



          </div>
          <div class="form-action">
            <button [disabled]="formBalance.invalid" class="login social-btn">Buscar</button>
          </div>
      </form>
  </div>

  <app-balance-detail [dataBalancelist]="BalanceList$ |async" [dataTradingResultlist]="TradingResultList$ |async" [title]="'Capital consolidado'"></app-balance-detail>

  <!--app-balance-detail [title]="'Capital consolidado'"></app-balance-detail-->

</div>

