
<!--iframe [src]="externalUrl" width="80%" height="600px"></iframe -->
<!--a class="enlace" [href]="externalUrl">externalUrl</a -->



<div class="row">
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions7" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions8" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions9" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions10" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions4" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions1" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
   </div>
   <div class="col-6">
     <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
   </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions5" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div class="col-6">
     <canvasjs-chart [options]="chartOptions6" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-12">
     <canvasjs-chart [options]="chartOptions11" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <!--div class="col-6">
    <canvasjs-chart [options]="chartOptions12" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div-->
</div>
<hr>


<div class="row">
  <!--div class="col-6">
     <canvasjs-chart [options]="chartOptions11" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div-->
  <div class="col-12">
    <canvasjs-chart [options]="chartOptions12" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
</div>
<hr>


<br><br><br><br><br><br><br><br><br><br>
