<div>
  <canvasjs-chart [options]="chartOptions_0" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_1" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_2" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_3" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_4" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_5" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_6" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_7" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_8" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_9" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>

<hr>

<div>
  <canvasjs-chart [options]="chartOptions_10" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>
