<div class="section--generic_jao">
  <h1 class="section--generic__title">{{title}}</h1>
  <div class="row">
    <div class="col-4">
      <table class="table table-striped table-hover table-sm table-bordered table-success">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Propietario</th>
            <th>Capital</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataOwnerlist">
            <td>{{ item.tipo }}</td>
            <td>{{ item.propietario }}</td>
            <td align="right">{{ item.capital | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <h1 class="section--generic__title">Detalle otras inversiones</h1>
    <div class="row">
      <div class="col-6">
          <table class="table table-striped table-hover table-sm table-bordered table-success">
            <thead>
              <tr>
                <th>Vencimiento</th>
                <th>Propietario</th>
                <th>Empresa</th>
                <th>Tasa interés</th>
                <th>Rendimiento</th>
                <th>Capital</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataOtherinvestmentdetaillist">
                  <td>{{ item.fechaExpiracion }}</td>
                  <td>{{ item.propietario }}</td>
                  <td>{{ item.empresa }}</td>
                  <td align="right">{{ item.tasa }}</td>
                  <td align="right">{{ item.rendimiento }}</td>
                  <td align="right">{{ item.capital | number:'1.2-2' }}</td>
                </tr>
            </tbody>
           </table>
      </div>
    </div>

  <h1 class="section--generic__title">Detalle Bonos</h1>
  <div class="row">
    <div class="col-12">
        <table class="table table-striped table-hover table-sm table-bordered table-success">
          <thead>
            <tr>
              <th>Fecha Vencim.</th>
              <th>Propietario</th>
              <th>Fecha Compra</th>
              <th>Fecha Emisión</th>
              <th>Tasa Mensual</th>
              <th>Tasa Real</th>
              <th>Rendimiento</th>
              <th>Mensual</th>
              <th>Nominal</th>
              <th>Pagado</th>
              <th>Con Comision</th>
              <th>Sin Comision</th>
              <th>Casa Valores</th>
              <th>Bolsa Valores</th>
              <th>Total Comision</th>
              <th>Precio Compra</th>
              <th>P. Neto Compra</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataBonoslist">
                <td>{{ item.fechaVencimiento }}</td>
                <td>{{ item.propietario }}</td>
                <td>{{ item.fechaCompra }}</td>
                <td>{{ item.fechaEmision }}</td>

                <td align="right">{{ item.tasaMensual| number:'1.2-2' }}</td>
                <td align="right">{{ item.tasaMensualReal| number:'1.2-2' }}</td>
                <td align="right">{{ item.rendimiento| number:'1.2-2' }}</td>
                <td align="right">{{ item.interesMensual| number:'1.2-2' }}</td>
                <td align="right">{{ item.valorNominal| number:'1.2-2' }}</td>
                <td align="right">{{ item.pagado| number:'1.2-2' }}</td>
                <td align="right">{{ item.valorConComision| number:'1.2-2' }}</td>
                <td align="right">{{ item.valorSinComision| number:'1.2-2' }}</td>
                <td align="right">{{ item.comisionCasa| number:'1.2-2' }}</td>
                <td align="right">{{ item.comisionBolsa| number:'1.2-2' }}</td>
                <td align="right">{{ item.totalComisiones| number:'1.2-2' }}</td>
                <td align="right">{{ item.precioComprado| number:'1.7-7' }}</td>
                <td align="right">{{ item.precioNetoComprado| number:'1.7-7' }}</td>
              </tr>
          </tbody>
         </table>
    </div>
  </div>





<BR>
  <BR>
    <BR>
      <BR>
        <BR>
          <BR>
            <BR>
              <BR>
                <BR>







</div>
