<div class="section--generic_jao">
  <h1 class="section--generic__title">{{title}}</h1>
  <!-- Utiliza *ngIf para condicionar la visualización de la tabla -->
  <div *ngIf="title === 'Vencimientos mensuales'" class="row">
    <div class="col-6">
      <table class="table table-striped table-hover table-sm table-bordered table-success">
        <thead>
          <tr>
            <th>Año</th>
            <th>Mes</th>
            <th>Interés</th>
            <th>Capital</th>
            <th>Premio</th>
            <th>Interés<br>riesgo</th>
            <th>Capital<br>riesgo</th>
            <th>Premio<br>riesgo</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataMonhtlyamortization">
            <td>{{ item.anio }}</td>
            <td>{{ item.mes }}</td>
            <td>{{ item.interes | number:'1.2-2' }}</td>
            <td>{{ item.capital | number:'1.2-2' }}</td>
            <td>{{ item.descuento | number:'1.2-2' }}</td>
            <td>{{ item.interes_moroso | number:'1.2-2' }}</td>
            <td>{{ item.capital_moroso | number:'1.2-2' }}</td>
            <td>{{ item.descuento_moroso | number:'1.2-2' }}</td>
            <td>{{ item.total | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-7">
          <h2 *ngIf="title === 'Vencimientos mensuales'" >Flujo de capital consolidado por día y propietario</h2>
           <table class="table table-striped table-hover table-sm table-bordered table-success">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Propietario</th>
                <th>Empresa</th>
                <th>Interés</th>
                <th>Capital</th>
                <th>Premio</th>
                <th>Interés<br>riesgo</th>
                <th>Capital<br>riesgo</th>
                <th>Premio<br>riesgo</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataMonAmortizationOwner">
                  <td>{{ item.fecha }}</td>
                  <td>{{ item.propietario }}</td>
                  <td>{{ item.empresa}}</td>
                  <td>{{ item.interes | number:'1.2-2' }}</td>
                  <td>{{ item.capital | number:'1.2-2' }}</td>
                  <td>{{ item.descuento | number:'1.2-2' }}</td>
                  <td>{{ item.interes_moroso | number:'1.2-2' }}</td>
                  <td>{{ item.capital_moroso | number:'1.2-2' }}</td>
                  <td>{{ item.descuento_moroso | number:'1.2-2' }}</td>
                  <td>{{ item.total | number:'1.2-2' }}</td>
                </tr>
            </tbody>
           </table>
      </div>
     </div>


     <div class="row">
      <div class="col-9">
        <h2>Detalle de los vencimientos</h2>
        <table class="table table-striped table-hover table-sm table-bordered table-success">
          <thead>
            <tr>
              <th>Compra</th>
              <th>Fecha</th>
              <th>Propietario</th>
              <th>Empresa</th>
              <th>Tasa</th>
              <th>Rendimiento</th>
              <th>Interés</th>
              <th>Capital</th>
              <th>Premio</th>
              <th>Interés<br>riesgo</th>
              <th>Capital<br>riesgo</th>
              <th>Premio<br>riesgo</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of dataDailyamortization">
                <td>{{ item.compra }}</td>
                <td>{{ item.fecha }}</td>
                <td>{{ item.propietario }}</td>
                <td>{{ item.empresa }}</td>
                <td>{{ item.tasa  | number:'1.2-2' }}</td>
                <td>{{ item.rendimiento | number:'1.2-2' }}</td>
                <td>{{ item.interes  | number:'1.2-2' }}</td>
                <td>{{ item.capital  | number:'1.2-2' }}</td>
                <td>{{ item.descuento  | number:'1.2-2' }}</td>
                <td>{{ item.interes_moroso  | number:'1.2-2' }}</td>
                <td>{{ item.capital_moroso  | number:'1.2-2' }}</td>
                <td>{{ item.descuento_moroso  | number:'1.2-2' }}</td>
                <td>{{ item.total  | number:'1.2-2' }}</td>
              </tr>
          </tbody>
         </table>
      </div>

     </div>

<BR>
  <BR>
    <BR>
      <BR>
        <BR>
          <BR>
            <BR>
              <BR>
                <BR>







</div>
