<p-toast></p-toast>


<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onFilter($event)" placeholder="Palabra de busqueda" />
        </span>
      </div>
  </ng-template>
  <ng-template pTemplate="right">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="crearRegistro()"></button>
  </ng-template>
</p-toolbar>



<!--p-table [styleClass]="{ 'p-datatable-sm' 'p-datatable-gridlines" } -->
<p-table
         #dt2
         [styleClass]="'p-datatable-sm'"
         [value]="catalogoRegistros"
         [tableStyle]="{ 'min-width': '0.5rem'}"
         [paginator]="true"
         [rows]="100"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Mostrando del {first} al {last} de un total de {totalRecords} registros"
         [rowsPerPageOptions]="[5, 10, 20, 30, 100]"
         dataKey="id"
         [loading]="loading"
         [globalFilterFields]="['FechaCompra','FechaVencimiento','Propietario', 'Empresa']"
         >
  <ng-template pTemplate="header">
    <tr >
      <!--th>id</th-->
      <th class="small-font">Tipo</th>
      <th class="small-font" pSortableColumn="FechaCompra">Compra <p-sortIcon field="FechaCompra"></p-sortIcon></th>
      <th class="small-font" pSortableColumn="FechaVencimiento">Vencimiento<p-sortIcon field="FechaVencimiento"></p-sortIcon></th>
      <th class="small-font" pSortableColumn="Propietario">Propietario<p-sortIcon field="Propietario"></p-sortIcon></th>
      <th class="small-font" pSortableColumn="Empresa">Empresa<p-sortIcon field="Empresa"></p-sortIcon></th>
      <th class="small-font-number">Interes</th>
      <th class="small-font-number">Rend.</th>
      <th class="small-font-number">Capital</th>
      <th class="small-font-number">Ven.</th>
      <th class="small-font-number">Exp.</th>
      <th class="small-font-number">Act.</th>
      <th class="small-font">Acción</th>
    </tr>
    <tr>
      <th class="small-font" >
        <!--tipo -->
      </th>
      <th class="small-font" style="width:180px">
        <p-columnFilter type="text" field="FechaCompra"></p-columnFilter>
      </th>
      <th class="small-font" style="width:180px">
        <p-columnFilter type="text" field="FechaVencimiento"></p-columnFilter>
      </th>
      <th class="small-font" style="width:180px">
        <p-columnFilter type="text" field="Propietario"></p-columnFilter>
      </th>
      <th class="small-font">
        <p-columnFilter type="text" field="Empresa"></p-columnFilter>
      </th>
      <th class="small-font-number">
        <!--<p-columnFilter type="numeric" field="Interes"></p-columnFilter>-->
      </th>
      <th class="small-font-number">
        <!--rendim -->
      </th>
      <th class="small-font-number">
        <!--capital -->
      </th>
      <th class="small-font-number">
        <!--Vencido -->
      </th>
      <th class="small-font-number">
        <!--expirado -->
      </th>
      <th class="small-font-number">
        <p-columnFilter type="boolean" field="Activo"></p-columnFilter>
      </th>
      <th class="small-font">
        <!--accion -->
      </th>

    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-registro>
    <tr class="fondoverde">
      <!--td>{{ registro.id}}</td -->
      <td class="small-font">{{ registro.Tipo }}</td>
      <td class="small-font">{{ registro.FechaCompra }}</td>
      <td class="small-font">{{ registro.FechaVencimiento }}</td>
      <td class="small-font">{{ registro.Propietario }}</td>
      <td class="small-font">{{ registro.Empresa }}</td>
      <td class="small-font-number">{{ registro.TasaInteres/100 | percent:'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.Rendimiento/100 | percent:'1.2-2' }}</td>
      <td class="small-font-number">{{ registro.Capital | currency:'USD':'symbol':'1.2-2'}}</td>
      <!--td style="text-align: right;">{{ registro.Retencion | currency:'USD':'symbol':'1.2-2'}}</td-->
      <td class="small-font-number">{{ registro.Pagado }}</td>
      <td class="small-font-number">{{ registro.Expirado }}</td>
      <td class="small-font-number">{{ registro.Activo }}</td>
<!--       <td>IMPLEMENTAR BOTONES</td> -->
      <td>
        <p-button icon="uil uil-edit-alt"
                  styleClass="small-button p-button-raised mr-2"
                  [rounded]="true"
                  [outlined]="true"
                  severity="warning"
                  [outlined]="false"
                  pTooltip="Editar"
                  tooltipPosition="bottom"
                  (click)="modificarRegistro(registro)"
                  size="small"
                  >
        </p-button>
        <p-button icon="uil uil-trash-alt"
                  styleClass="small-button"
                  [rounded]="true"
                  [outlined]="true"
                  severity="danger"
                  [outlined]="false"
                  pTooltip="Eliminar"
                  tooltipPosition="bottom"
                  (click)="eliminarRegistro(registro)"
                  size="small"
                  >
        </p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="5">No se encontraron inversiones.</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog
  [(visible)]="registroDialog"
  [style]="{ width: '750px' }"
  header="Datos de la nueva inversión (* campos obligatorios)"
  [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="formRegistro">
            <br/>
            <div class="formgrid grid">

                          <div class="field col-12 md:col-12 mt-2">
                            <span class="p-float-label">
                                <input
                                  pInputText
                                  id="Empresa"
                                  type="text"
                                  class="inputfield w-full"
                                  formControlName="Empresa"
                                  required
                                  autofocus
                                />
                                <label for="Empresa">* Empresa</label>
                                <small *ngIf="formRegistro.get('Empresa')!.hasError('required')" class="p-error">
                                     La Empresa es obligatoria.
                                </small>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                      pInputText
                                      id="FechaCompra"
                                      type="text"
                                      class="inputfield w-full"
                                      formControlName="FechaCompra"
                                      required
                                  />
                                  <label for="FechaCompra">* FechaCompra</label>
                                  <small *ngIf="formRegistro.get('FechaCompra')!.hasError('required')" class="p-error">
                                      La FechaCompra es obligatoria.
                                  </small>
                              </span>
                          </div>
                        <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="FechaVencimiento"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="FechaVencimiento"
                                  />
                                  <label for="FechaCompra">* FechaVencimiento</label>
                                  <small class="p-error">
                                      {{ inversionService.getErrors(formRegistro.controls['FechaVencimiento'],"FechaVencimiento")}}
                                  </small>
                                </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Propietario"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="Propietario"
                                  />
                                  <label for="Propietario">* Propietario</label>
                                  <small class="p-error">
                                      {{ inversionService.getErrors(formRegistro.controls['Propietario'],"Propietario")}}
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input
                                    pInputText
                                    id="Tipo"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="Tipo"
                                    required
                                />
                                <label for="Tipo">* Tipo</label>
                                <small *ngIf="formRegistro.get('Tipo')!.hasError('required')" class="p-error">
                                    El tipo es obligatorio.
                                </small>
                            </span>
                        </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                <input
                                  pInputText
                                  id="TasaInteres"
                                  type="number"
                                  class="inputfield w-full"
                                  formControlName="TasaInteres"
                                />
                                <label for="TasaInteres">* TasaInteres</label>
                                <small class="p-error">
                                  {{ inversionService.getErrors(formRegistro.controls['TasaInteres'],"TasaInteres")}}
                                </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                              <input
                                pInputText
                                id="Rendimiento"
                                type="number"
                                class="inputfield w-full"
                                formControlName="Rendimiento"
                              />
                              <label for="Rendimiento">* Rendimiento</label>
                              <small class="p-error">
                                {{ inversionService.getErrors(formRegistro.controls['Rendimiento'],"Rendimiento")}}
                              </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4 mt-2">
                          <span class="p-float-label">
                            <input
                              pInputText
                              id="Capital"
                              type="number"
                              class="inputfield w-full"
                              formControlName="Capital"
                            />
                            <label for="Capital">* Capital</label>
                            <small class="p-error">
                              {{ inversionService.getErrors(formRegistro.controls['Capital'],"Capital")}}
                            </small>
                          </span>
                      </div>
                      <div class="field col-12 md:col-4 mt-2">
                        <span class="p-float-label">
                          <input
                            pInputText
                            id="Retencion"
                            type="number"
                            class="inputfield w-full"
                            formControlName="Retencion"
                          />
                          <label for="Retencion">* Retencion</label>
                          <small class="p-error">
                            {{ inversionService.getErrors(formRegistro.controls['Retencion'],"Retencion")}}
                          </small>
                        </span>
                    </div>

                    <div class="field col-12 md:col-4 mt-2">
                      <span class="p-float-label">
                        <input
                          pInputText
                          id="Pagado"
                          type="number"
                          class="inputfield w-full"
                          formControlName="Pagado"
                        />
                        <label for="Pagado">* Pagado</label>
                        <small class="p-error">
                          {{ inversionService.getErrors(formRegistro.controls['Pagado'],"Pagado")}}
                        </small>
                      </span>
                  </div>

                  <div class="field col-12 md:col-4 mt-2">
                    <span class="p-float-label">
                      <input
                        pInputText
                        id="Expirado"
                        type="number"
                        class="inputfield w-full"
                        formControlName="Expirado"
                      />
                      <label for="Expirado">* Expirado</label>
                      <small class="p-error">
                        {{ inversionService.getErrors(formRegistro.controls['Expirado'],"Expirado")}}
                      </small>
                    </span>
                </div>

                <div class="field col-12 md:col-4 mt-2">
                  <span class="p-float-label">
                    <input
                      pInputText
                      id="Activo"
                      type="number"
                      class="inputfield w-full"
                      formControlName="Activo"
                    />
                    <label for="Activo">* Activo</label>
                    <small class="p-error">
                      {{ inversionService.getErrors(formRegistro.controls['Activo'],"Activo")}}
                    </small>
                  </span>
              </div>


           </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="guardarRegistro()"
          [disabled]="formRegistro.invalid"
          >
        </button>
      </ng-template>
</p-dialog>


<!-- UPDATE -->
<p-dialog
  [(visible)]="registroDialogUpdate"
  [style]="{ width: '750px' }"
  header="Actualización de la inversión (* campos obligatorios)"
  [modal]="false">
    <ng-template pTemplate="content">
        <form [formGroup]="formUpdateRegistro">
            <br/>
            <div class="formgrid grid">
                            <div class="field col-12 md:col-2 mt-2">
                                <span class="p-float-label">
                                    <input
                                        pInputText
                                        id="id"
                                        type="text"
                                        class="inputfield w-full"
                                        formControlName="id"
                                    />
                                    <label for="id">Id registro</label>
                                </span>
                            </div>

                            <div class="field col-12 md:col-10 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Empresa"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="Empresa"
                                    required
                                    autofocus
                                  />
                                  <label for="Empresa">* Empresa</label>
                                  <small class="p-error">
                                      {{ inversionService.getErrors(formUpdateRegistro.controls['Empresa'],"Empresa")}}
                                  </small>
                              </span>
                          </div>

                          <div class="field col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input
                                    pInputText
                                    id="Tipo"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="Tipo"
                                    required
                                />
                                <label for="Tipo">* Tipo</label>
                                <small *ngIf="formUpdateRegistro.get('Tipo')!.hasError('required')" class="p-error">
                                    La Tipo es obligatoria.
                                </small>
                            </span>
                        </div>

                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                      pInputText
                                      id="FechaCompra"
                                      type="text"
                                      class="inputfield w-full"
                                      formControlName="FechaCompra"
                                      required
                                  />
                                  <label for="FechaCompra">* FechaCompra</label>
                                  <small *ngIf="formUpdateRegistro.get('FechaCompra')!.hasError('required')" class="p-error">
                                      La FechaCompra es obligatoria.
                                  </small>
                              </span>
                          </div>

                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="FechaVencimiento"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="FechaVencimiento"
                                  />
                                  <label for="FechaCompra">FechaVencimiento</label>
                                  <small class="p-error">
                                      {{ inversionService.getErrors(formUpdateRegistro.controls['FechaVencimiento'],"FechaVencimiento")}}
                                  </small>
                                </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Propietario"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="Propietario"
                                  />
                                  <label for="Propietario">* Propietario</label>
                                  <small class="p-error">
                                      {{ inversionService.getErrors(formUpdateRegistro.controls['Propietario'],"Propietario")}}
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                <input
                                  pInputText
                                  id="TasaInteres"
                                  type="number"
                                  class="inputfield w-full"
                                  formControlName="TasaInteres"
                                />
                                <label for="TasaInteres">TasaInteres</label>
                                <small class="p-error">
                                  {{ inversionService.getErrors(formUpdateRegistro.controls['TasaInteres'],"TasaInteres")}}
                                </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                              <input
                                pInputText
                                id="Rendimiento"
                                type="text"
                                class="inputfield w-full"
                                formControlName="Rendimiento"
                              />
                              <label for="Rendimiento">Rendimiento</label>
                              <small class="p-error">
                                {{ inversionService.getErrors(formUpdateRegistro.controls['Rendimiento'],"Rendimiento")}}
                              </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4 mt-2">
                          <span class="p-float-label">
                            <input
                              pInputText
                              id="Capital"
                              type="text"
                              class="inputfield w-full"
                              formControlName="Capital"
                            />
                            <label for="Capital">Capital</label>
                            <small class="p-error">
                              {{ inversionService.getErrors(formUpdateRegistro.controls['Capital'],"Capital")}}
                            </small>
                          </span>
                      </div>
                      <div class="field col-12 md:col-4 mt-2">
                        <span class="p-float-label">
                          <input
                            pInputText
                            id="Retencion"
                            type="text"
                            class="inputfield w-full"
                            formControlName="Retencion"
                          />
                          <label for="Retencion">Retencion</label>
                          <small class="p-error">
                            {{ inversionService.getErrors(formUpdateRegistro.controls['Retencion'],"Retencion")}}
                          </small>
                        </span>
                    </div>

                    <div class="field col-12 md:col-4 mt-2">
                      <span class="p-float-label">
                          <input
                              pInputText
                              id="Pagado"
                              type="text"
                              class="inputfield w-full"
                              formControlName="Pagado"
                              required
                          />
                          <label for="Pagado">* Pagado</label>
                          <small *ngIf="formUpdateRegistro.get('Pagado')!.hasError('required')" class="p-error">
                              La Pagado es obligatoria.
                          </small>
                      </span>
                  </div>

                  <div class="field col-12 md:col-4 mt-2">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="Expirado"
                            type="text"
                            class="inputfield w-full"
                            formControlName="Expirado"
                            required
                        />
                        <label for="Expirado">* Expirado</label>
                        <small *ngIf="formUpdateRegistro.get('Expirado')!.hasError('required')" class="p-error">
                            La Expirado es obligatoria.
                        </small>
                    </span>
                </div>

                <div class="field col-12 md:col-4 mt-2">
                  <span class="p-float-label">
                      <input
                          pInputText
                          id="Activo"
                          type="text"
                          class="inputfield w-full"
                          formControlName="Activo"
                          required
                      />
                      <label for="Activo">* Activo</label>
                      <small *ngIf="formUpdateRegistro.get('Activo')!.hasError('required')" class="p-error">
                          La Activo es obligatoria.
                      </small>
                  </span>
              </div>


          </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="actualizarRegistro()"
          [disabled]="formUpdateRegistro.invalid">
        </button>
    </ng-template>
</p-dialog>




<!--p-dialog
  [(visible)]="registroDialogUpdate"
  [style]="{ width: '750px' }"
  header="Datos del juego (* campos obligatorios)"
  [modal]="true">
    <ng-template pTemplate="content">
        <form [FormGroup]="formUpdateRegistro">
            <br/>
            <div class="formgrid grid">
                <div *ngFor="let controlName of formControlNames">
                    <div class="field col-12 md:col-6 mt-2">
                        <span class="p-float-label">
                            <input pInputText [formControlName]="controlName" />
                            <label>{{ controlName | titlecase }}</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="guardarRegistro()"
          [disabled]="formUpdateRegistro.invalid">
        </button>
    </ng-template>
</p-dialog -->
