.small-font {
  font-size: 10px;
  max-width: 150px;
  background-color: rgb(240, 255, 240);
  border-bottom: 1px solid rgb(31, 248, 139);
  padding: 2px 4px; /* Ajusta el padding para reducir la altura */
}

.small-font-number {
  font-size: 10px;
  max-width: 150px;
  background-color: rgb(240, 255, 240);
  text-align: right;
  border-bottom: 1px solid rgb(31, 248, 139);
  padding: 2px 4px; /* Ajusta el padding para reducir la altura */
}


.custom-column-filter {
  font-size: 12px;
  color: #3b09f0;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 4px 8px;
  width: 10px;
}

:host ::ng-deep .small-button{
  border-radius: 10px;
  font-size: 12px;
  height: 5px;
}

.p-button-danger{
  border-radius: 10px;
  font-size: 12px;
  height: 5px;
}


.fondoverde_1{
  background: linear-gradient(90deg, rgb(192, 236, 183) 44%, rgb(240, 255, 240) 100%);
}


.fondoverde{
  background-color: rgb(240, 255, 240);
}
