<p>variationregister-page works!</p>


<p-toast></p-toast>


<p-toolbar class="custom-toolbar mb-4 gap-2">
  <ng-template pTemplate="left"></ng-template>
  <ng-template pTemplate="right">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="crearRegistro()"></button>
  </ng-template>
</p-toolbar>



<p-table [value]="catalogoRegistros"
         [styleClass]="'p-datatable-sm'"
         [tableStyle]="{ 'min-width': '50rem', 'width': '60%', 'margin' : '0 auto'}"
         [paginator]="true"
         [rows]="20"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Mostrando del {first} al {last} de un total de {totalRecords} registros"
         [rowsPerPageOptions]="[5, 10, 20]"
         >
  <ng-template pTemplate="header">
    <tr>
      <th class="small-font">id</th>
      <th class="small-font" style="text-align: center;">Fecha</th>
      <th class="small-font-number">Jaime</th>
      <th class="small-font-number">Argentina</th>
      <th class="small-font-number">Cristian</th>
      <th class="small-font-number">SaldoTotal</th>
      <th class="small-font-number">SaldoPropio</th>
      <th class="small-font-number">Importacion</th>
      <th class="small-font-number">TotalPropio</th>
      <th class="small-font-number" style="text-align: center;">Acción</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-registro>
    <tr>
      <td class="small-font" >{{ registro.id}}</td>
      <!--td>{{ registro.Fecha | date: 'mediumDate' }}</td-->
      <td class="small-font" >{{ registro.Fecha}}</td>
      <td class="small-font-number">{{ registro.Jaime | currency:'USD':'symbol':'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.Argentina | currency:'USD':'symbol':'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.Cristian | currency:'USD':'symbol':'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.SaldoTotal | currency:'USD':'symbol':'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.SaldoPropio | currency:'USD':'symbol':'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.Importacion | currency:'USD':'symbol':'1.2-2'}}</td>
      <td class="small-font-number">{{ registro.TotalPropio | currency:'USD':'symbol':'1.2-2'}}</td>
<!--       <td>IMPLEMENTAR BOTONES</td> -->
      <td class="small-font" style="text-align: center;">
        <p-button icon="uil uil-edit-alt"
                  styleClass="small-button"
                  [rounded]="true"
                  [outlined]="true"
                  severity="warning"
                  [outlined]="false"
                  pTooltip="Editar"
                  tooltipPosition="bottom"
                  (click)="modificarRegistro(registro)"
                  >
        </p-button>
        &nbsp;
        <p-button icon="uil uil-trash-alt"
                  styleClass="small-button"
                  [rounded]="true"
                  [outlined]="true"
                  severity="danger"
                  [outlined]="false"
                  pTooltip="Eliminar"
                  tooltipPosition="bottom"
                  (click)="eliminarRegistro(registro)"
                  >
        </p-button>
      </td>
    </tr>
  </ng-template>

</p-table>


<p-dialog
  [(visible)]="registroDialog"
  [style]="{ width: '750px' }"
  header="Datos del juego (* campos obligatorios)"
  [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="formRegistro">
            <br/>
            <div class="formgrid grid">
                            <div class="field col-12 md:col-10 mt-2">
                              <span class="p-float-label">
                                  <input
                                      pInputText
                                      id="Fecha"
                                      type="text"
                                      class="inputfield w-full"
                                      formControlName="Fecha"
                                      required
                                      autofocus
                                  />
                                  <label for="Fecha">* fecha registro</label>
                                  <small *ngIf="formRegistro.get('Fecha')!.hasError('required')" class="p-error">
                                      La Fecha es obligatoria.
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Jaime"
                                    type="text"
                                    class="inputfield w-full"
                                    formControlName="Jaime"
                                  />
                                  <label for="fecha">Jaime</label>
                                  <small class="p-error">
                                      {{ variationregisterService.getErrors(formRegistro.controls['Jaime'],"Jaime")}}
                                  </small>
                                </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Argentina"
                                    type="number"
                                    class="inputfield w-full"
                                    formControlName="Argentina"
                                  />
                                  <label for="Argentina">* Argentina</label>
                                  <small class="p-error">
                                      {{ variationregisterService.getErrors(formRegistro.controls['Argentina'],"Argentina")}}
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Cristian"
                                    type="number"
                                    class="inputfield w-full"
                                    formControlName="Cristian"
                                  />
                                  <label for="Cristian">* Cristian</label>
                                  <small class="p-error">
                                      {{ variationregisterService.getErrors(formRegistro.controls['Cristian'],"Cristian")}}
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                <input
                                  pInputText
                                  id="SaldoTotal"
                                  type="number"
                                  class="inputfield w-full"
                                  formControlName="SaldoTotal"
                                />
                                <label for="SaldoTotal">SaldoTotal</label>
                                <small class="p-error">
                                  {{ variationregisterService.getErrors(formRegistro.controls['SaldoTotal'],"SaldoTotal")}}
                                </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                              <input
                                pInputText
                                id="SaldoPropio"
                                type="text"
                                class="inputfield w-full"
                                formControlName="SaldoPropio"
                              />
                              <label for="SaldoPropio">SaldoPropio</label>
                              <small class="p-error">
                                {{ variationregisterService.getErrors(formRegistro.controls['SaldoPropio'],"SaldoPropio")}}
                              </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4 mt-2">
                          <span class="p-float-label">
                            <input
                              pInputText
                              id="Importacion"
                              type="text"
                              class="inputfield w-full"
                              formControlName="Importacion"
                            />
                            <label for="Importacion">Importacion</label>
                            <small class="p-error">
                              {{ variationregisterService.getErrors(formRegistro.controls['Importacion'],"Importacion")}}
                            </small>
                          </span>
                      </div>
                      <div class="field col-12 md:col-4 mt-2">
                        <span class="p-float-label">
                          <input
                            pInputText
                            id="TotalPropio"
                            type="text"
                            class="inputfield w-full"
                            formControlName="TotalPropio"
                          />
                          <label for="TotalPropio">TotalPropio</label>
                          <small class="p-error">
                            {{ variationregisterService.getErrors(formRegistro.controls['TotalPropio'],"TotalPropio")}}
                          </small>
                        </span>
                    </div>
           </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="guardarRegistro()"
          [disabled]="formRegistro.invalid"
          >
        </button>
      </ng-template>
</p-dialog>


<!-- UPDATE -->
<p-dialog
  [(visible)]="registroDialogUpdate"
  [style]="{ width: '750px' }"
  header="Datos del juego (* campos obligatorios)"
  [modal]="false">
    <ng-template pTemplate="content">
        <form [formGroup]="formUpdateRegistro">
            <br/>
            <div class="formgrid grid">
                          <div class="field col-12 md:col-2 mt-2">
                              <span class="p-float-label">
                                  <input
                                      pInputText
                                      id="id"
                                      type="text"
                                      class="inputfield w-full"
                                      formControlName="id"
                                   />
                                  <label for="id">Id registro</label>
                              </span>
                          </div>
                          <div class="field col-12 md:col-10 mt-2">
                              <span class="p-float-label">
                                  <input
                                      pInputText
                                      id="Fecha"
                                      type="text"
                                      class="inputfield w-full"
                                      formControlName="Fecha"
                                      required
                                      autofocus
                                  />
                                  <label for="Fecha">* fecha registro</label>
                                  <small *ngIf="formUpdateRegistro.get('Fecha')!.hasError('required')" class="p-error">
                                      La Fecha es obligatoria.
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Jaime"
                                    type="number"
                                    class="inputfield w-full"
                                    formControlName="Jaime"
                                  />
                                  <label for="fecha">Jaime</label>
                                  <small class="p-error">
                                      {{ variationregisterService.getErrors(formUpdateRegistro.controls['Jaime'],"Jaime")}}
                                  </small>
                                </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Argentina"
                                    type="number"
                                    class="inputfield w-full"
                                    formControlName="Argentina"
                                  />
                                  <label for="Argentina">* Argentina</label>
                                  <small class="p-error">
                                      {{ variationregisterService.getErrors(formUpdateRegistro.controls['Argentina'],"Argentina")}}
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                  <input
                                    pInputText
                                    id="Cristian"
                                    type="number"
                                    class="inputfield w-full"
                                    formControlName="Cristian"
                                  />
                                  <label for="Cristian">* Cristian</label>
                                  <small class="p-error">
                                      {{ variationregisterService.getErrors(formUpdateRegistro.controls['Cristian'],"Cristian")}}
                                  </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                              <span class="p-float-label">
                                <input
                                  pInputText
                                  id="SaldoTotal"
                                  type="number"
                                  class="inputfield w-full"
                                  formControlName="SaldoTotal"
                                />
                                <label for="SaldoTotal">SaldoTotal</label>
                                <small class="p-error">
                                  {{ variationregisterService.getErrors(formUpdateRegistro.controls['SaldoTotal'],"SaldoTotal")}}
                                </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                              <input
                                pInputText
                                id="SaldoPropio"
                                type="number"
                                class="inputfield w-full"
                                formControlName="SaldoPropio"
                              />
                              <label for="SaldoPropio">SaldoPropio</label>
                              <small class="p-error">
                                {{ variationregisterService.getErrors(formUpdateRegistro.controls['SaldoPropio'],"SaldoPropio")}}
                              </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4 mt-2">
                          <span class="p-float-label">
                            <input
                              pInputText
                              id="Importacion"
                              type="number"
                              class="inputfield w-full"
                              formControlName="Importacion"
                            />
                            <label for="Importacion">Importacion</label>
                            <small class="p-error">
                              {{ variationregisterService.getErrors(formUpdateRegistro.controls['Importacion'],"Importacion")}}
                            </small>
                          </span>
                      </div>
                      <div class="field col-12 md:col-4 mt-2">
                        <span class="p-float-label">
                          <input
                            pInputText
                            id="TotalPropio"
                            type="number"
                            class="inputfield w-full"
                            formControlName="TotalPropio"
                          />
                          <label for="TotalPropio">TotalPropio</label>
                          <small class="p-error">
                            {{ variationregisterService.getErrors(formUpdateRegistro.controls['TotalPropio'],"TotalPropio")}}
                          </small>
                        </span>
                    </div>
          </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="actualizarRegistro()"
          [disabled]="formUpdateRegistro.invalid">
        </button>
    </ng-template>
</p-dialog>




<!--p-dialog
  [(visible)]="registroDialogUpdate"
  [style]="{ width: '750px' }"
  header="Datos del juego (* campos obligatorios)"
  [modal]="true">
    <ng-template pTemplate="content">
        <form [FormGroup]="formUpdateRegistro">
            <br/>
            <div class="formgrid grid">
                <div *ngFor="let controlName of formControlNames">
                    <div class="field col-12 md:col-6 mt-2">
                        <span class="p-float-label">
                            <input pInputText [formControlName]="controlName" />
                            <label>{{ controlName | titlecase }}</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="guardarRegistro()"
          [disabled]="formUpdateRegistro.invalid">
        </button>
    </ng-template>
</p-dialog -->
